{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}


<div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4">
	<p class="text-center">{% trans "Your password has been reset!" %}.</p>
	<p class="text-center">{% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.</p>
  </div>
  <div class="col-xs-6 col-md-4"></div>
</div>

{% endblock %}



{# This is used by django.contrib.auth #}